<!DOCTYPE html>
<html>
<head>
    <title>Polling</title>
    <meta charset="utf-8">
</head>
<body>

<div id="response">
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>

var last_mid = {'last_mid': 1};
var polling = function (){
    $.ajax({
        url: 'http://127.0.0.1:8000/messages/poll',
        dataType: 'json',
        type: 'post',
        contentType: 'application/json',
        data: JSON.stringify(last_mid),
        success: function(data){
        if (data['messages']){
            last_mid = {'last_mid': data['last_mid']};
        	var messages = data['messages']
        	$(messages).each(function(key, value){
        		$('#response').append('<span> id:' +value["id"]+
    									' user:' +value["user"]+
    									' message:' +value["message"]+
        								' timestamp:' +value['timestamp']+
            							'</span><br>'
        								);

        	});
          }
        },
        error: function(errMsg){
            console.log( errMsg );
        }
	});
    clearTimeout(timer);
	var timer = setTimeout(polling, 15000);
}

polling();

</script>
</body>
</html>